
#map_section {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* || NAV */
#nav_container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 31rem;
  width: 31rem;
  max-width: 31rem;
  height: 100%;
  padding: 1.2rem 2rem;
}

@media (max-width: 900px) {
  #map_section {
    flex-flow: column-reverse nowrap;
  }
  #map_wrapper {
    height: 100% !important;
    border-radius: 0 !important;
  }
  #map_container {
    height: calc(100% + 2rem) !important;
  }
  #nav_container {
    padding-bottom: 0;
    height: 10rem;
    max-width: unset;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
    background: var(--dark);
  }

  #nav_container[data-opened=true]{
    height: 85%;
  }
}

#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.12rem;
}

#logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#logo h1 {
  margin: 0;
  font-family: Macondo;
  color: var(--light);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09rem;
}

[data-theme='light'] #logo img {
  filter: brightness(0.5) contrast(1.5)!important;
}

#logo img {
  padding-bottom: .325rem;
}

#campus h2 {
  margin: 0;
  font-family: Macondo;
  color: var(--secondary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#search_bar {
  display: flex;
  width: 100%;
  height: 3.25rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid var(--border);
  background: var(--input_bg);
  margin-bottom: 2rem;
}

#search_bar input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.9375rem;
  padding-left: 1.5rem;
  color: var(--light);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: var(--input_bg);
}

#search_bar input::placeholder {
  color: var(--light_75);
}

#search_bar input:focus {
  outline: none;
}

#search_bar img {
  padding-inline: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

#search_bar img:hover {
  opacity: .75;
}

#cmdk_dialog {
  position: fixed; 
  height: 7rem;
  width: 32.45rem;
  top: 8.55rem;        
  left: 16.8rem;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 10rem;
  padding-left: 1.5rem;
}

.cmdk_input {
  width: 100%;
  height: 3.25rem;;
  box-sizing: border-box;
  border-radius: 0.9375rem;
  padding-left: 1.5rem;
  color: var(--light);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.cmdk_input::placeholder {
  color: var(--light_75);
}

.cmdk_list {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  margin-left: -2px;
  padding: .5rem 1rem;
  box-sizing: border-box;
  width: 101%;
  height: 15rem;
  background-color: var(--dark);
  color: var(--light);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light_75) var(--dark);
  gap: 1.375rem;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  z-index: -1;
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
  transition: height 100ms ease;
}
.cmdk_list_item{
  height: 2rem;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.375rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
.cmdk_list_item:hover{
  background-color: var(--light_25);
  transition: 100ms ease;
}

#options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#options .option {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  cursor: pointer;
}

#options .option label {
  color: var(--light_75);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#options .option div {
  display: flex;
  width: fit-content;
  height: 3.25rem;
  gap: 1.25rem;
  padding: 0.8125rem 1.5rem;
  border: 1px solid var(--border);
  border-radius: 0.9375rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: var(--light_75);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity .1s;
}

#options .option div:hover {
  opacity: .75;
}

.option div img {
  opacity: .75;
}

#options #filters_container div img {
  opacity: 1;
}

/* || Landmarks */
#landmarks_list_container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

#landmarks_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 1.5rem 3rem;
  padding-right: 1rem;
  box-sizing: border-box;
  gap: 1.375rem;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#landmarks_list::-webkit-scrollbar{
  width: 8px;
}

#landmarks_list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

#landmarks_list::-webkit-scrollbar-thumb:hover {
  background: var(--primary_50)
}

#landmarks_list .top_gradient,
#bottom_gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background: var(--top-gradient);
  z-index: 1;
}

#bottom_gradient {
  background: var(--bottom-gradient);
  top: calc(100vh - 5rem);
  height: 5rem;
}

.landmark_category {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: height .1s, opacity .1s;
}

.landmark_category_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity .1s;
}

.landmark_category:hover .landmark_category_header {
  opacity: .8;
}

.landmark_category_header img {
  transition: transform .2s ease;
}

.landmark_category_container {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.38rem;
  width: 100%;
  height: 100%;
  color: var(--light);
}

.landmark_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  padding: 0.875rem 0.8125rem;
  line-height: 0;
  border-radius: 100%;
  font-size: 2rem;
  user-select: none;
}

.landmark_info h3 {
  margin: 0;
  color: var(--light);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.landmark_info p {
  margin: 0;
  color: var(--light_25);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expanded_landmark {
  display: flex;
  justify-content: space-between;
  padding: 1.625rem 0rem;
  align-items: flex-end;
  gap: 0.625rem;
  align-self: stretch;
  border-bottom: 1px dashed var(--border);
  flex-wrap: wrap;
  cursor: pointer;
  animation: fadeInUp 0.4s ease;
  transition: padding-left .1s;
}

.expanded_landmark:hover {
  padding-left: .5rem;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.expanded_landmark p {
  margin: 0;
  color: var(--light);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expanded_landmark span {
  color: var(--light_75);
  font-size: 1.125rem;
}

.expanded_landmark img {
  cursor: pointer;
  z-index: 5;
}

/* || MAP */
#map_wrapper {
  width: 100%;
  height: 100vh;
  border-radius: 1.25rem;
  overflow: hidden;
}

#map_container {
  position: relative;
  width: 100%;
  height: calc(100vh + 2rem);
}


/* .category-filter button:hover {
  background: #f0f0f0;
}

.category-filter input[type="checkbox"] {
  accent-color: #4CAF50;
} 

.custom-popup .mapboxgl-popup-content {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--dark);
}

.custom-popup .mapboxgl-popup-close-button {
  padding: 5px 8px;
  color: #666666;
}

.custom-popup .mapboxgl-popup-close-button:hover {
  background-color: #f0f0f0;
  color: #000000;
} */