@font-face {
  font-family: "Macondo";
  src: url("assets/fonts/Macondo.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("assets/fonts/Geist.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased !important;
}

* {
  font-family: "Geist", sans-serif;
}

*:focus-visible {
  outline: 2px solid var(--primary);
}

:root {
  --primary: #C6FCFF;
  --primary_75: rgb(198, 252, 255, 0.75);
  --primary_50: rgb(198, 252, 255, 0.5);
  --primary_25: rgb(198, 252, 255, 0.25);
  --secondary: #FFF0C6;
  --secondary_75: rgb(255, 240, 198, 0.75);
  --secondary_50: rgb(255, 240, 198, 0.5);
  --secondary_25: rgb(255, 240, 198, 0.25);
  --accent: #054C45;
  --dark: #1A1A1A;
  --dark_80: rgb(26, 26, 26, 0.8);
  --dark_75: rgb(26, 26, 26, 0.75);
  --dark_50: rgb(26, 26, 26, 0.5);
  --dark_25: rgb(26, 26, 26, 0.25);
  --dark_10: rgb(26, 26, 26, 0.1);
  --dark_5: rgb(26, 26, 26, 0.05);
  --light: #f5f5f5;
  --light_80: rgb(245, 245, 245, 0.8);
  --light_75: rgb(245, 245, 245, 0.75);
  --light_50: rgb(245, 245, 245, 0.5);
  --light_25: rgb(245, 245, 245, 0.25);
  --light_10: rgb(245, 245, 245, 0.1);
  --light_5: rgb(245, 245, 245, 0.05);

  --border: #595959;
  --input_bg: #232323;

  --inline_padding: 2rem;
  --max_width: 1512px;
  --min_width: 25rem;
}

@media (max-width: 768px) {
  :root {
      --inline_padding: 1rem;
  }
}