@font-face {
  font-family: "Macondo";
  src: url("assets/fonts/Macondo.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("assets/fonts/Geist.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased !important;
}

* {
  font-family: "Geist", sans-serif;
}

*:focus-visible {
  outline: 2px solid var(--secondary);
  /* border-radius: 8px; */
}

:root {
  --primary: #C6FCFF;
  --primary_75: rgb(198, 252, 255, 0.75);
  --primary_50: rgb(198, 252, 255, 0.5);
  --primary_25: rgb(198, 252, 255, 0.25);
  --secondary: #FFF0C6;
  --secondary_75: rgb(255, 240, 198, 0.75);
  --secondary_50: rgb(255, 240, 198, 0.5);
  --secondary_25: rgb(255, 240, 198, 0.25);
  --accent: #054C45;
  --dark: #1A1A1A;
  --dark_80: rgb(26, 26, 26, 0.8);
  --dark_75: rgb(26, 26, 26, 0.75);
  --dark_50: rgb(26, 26, 26, 0.5);
  --dark_25: rgb(26, 26, 26, 0.25);
  --dark_10: rgb(26, 26, 26, 0.1);
  --dark_5: rgb(26, 26, 26, 0.05);
  --dark_0: rgb(26, 26, 26, 0);
  --light: #f5f5f5;
  --light_80: rgb(245, 245, 245, 0.8);
  --light_75: rgb(245, 245, 245, 0.75);
  --light_50: rgb(245, 245, 245, 0.5);
  --light_25: rgb(245, 245, 245, 0.25);
  --light_10: rgb(245, 245, 245, 0.1);
  --light_5: rgb(245, 245, 245, 0.05);

  --border: #595959;
  --input_bg: #232323;

  --top-gradient: linear-gradient(180deg, #1a1a1a 0%, #1a1a1a00 100%) !important;
  --bottom-gradient: linear-gradient(0deg, #1a1a1a 0%, #1a1a1a00 100%) !important;

  --inline_padding: 2rem;
  --max_width: 1512px;
  --min_width: 25rem;
}

[data-theme='light'] {
  --primary: #013B6D;
  --secondary: #FFD700;

  --dark: #FFF;
  --dark_80: rgb(255, 255, 255, 0.8);
  --dark_75: rgb(255, 255, 255, 0.75);
  --dark_50: rgb(255, 255, 255, 0.5);
  --dark_25: rgb(255, 255, 255, 0.25);
  --dark_10: rgb(255, 255, 255, 0.1);
  --dark_5: rgb(255, 255, 255, 0.05);
  --dark_0: rgb(255, 255, 255, 0);
  --light: #1A1A1A;
  --light_80: rgb(26, 26, 26, 0.8);
  --light_75: rgb(26, 26, 26, 0.75);
  --light_50: rgb(26, 26, 26, 0.5);
  --light_25: rgb(26, 26, 26, 0.25);
  --light_10: rgb(26, 26, 26, 0.1);
  --light_5: rgb(26, 26, 26, 0.05);

  --border: #B9B9B9;
  --input_bg: #F5F5F5;

  --top-gradient: linear-gradient(180deg, #fff 0%, #ffffff00 100%) !important;
  --bottom-gradient: linear-gradient(0deg, #fff 0%, #ffffff00 100%) !important;
}

[data-theme='light'] img {
  filter: invert(1);
}

@media (max-width: 768px) {
  :root {
      --inline_padding: 1rem;
  }
}


/* || AntD overrides */
.ant-btn div {
  display: none!important;
}

.ant-btn {
  font-family: Geist!important;
  all: unset;
  display: flex;
  /* width: fit-content; */
  width: 10rem!important;
  height: 3.25rem;
  gap: 1.25rem;
  padding: 0.8125rem 1.5rem;
  border: 1px solid var(--border);
  border-radius: 0.9375rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: var(--light_75);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color .1s, background-color .1s;
}

.ant-btn:hover {
  border: 1px solid var(--border)!important;
  color: var(--light)!important;
  background-color: var(--input_bg)!important;
}

.ant-popover-arrow {
  border-right-color: var(--dark)!important;
  color: var(--dark)!important;
}

.ant-popover-inner {
  font-family: Geist!important;
  background-color: var(--dark)!important;
  border: 1px solid var(--border)!important;
}

.ant-popover-title {
  font-family: Geist!important;
  color: var(--light)!important;
}

.ant-popover-inner-content {
  color: var(--light_75)!important;
}

.ant-popover-inner-content button {
  color: var(--light_75)!important;
  background-color: var(--light_5)!important;
  border: 1px solid var(--border)!important;
}