@font-face {
  font-family: "Macondo";
  src: url("assets/fonts/Macondo.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("assets/fonts/Geist.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased !important;
}

* {
  font-family: "Geist", sans-serif;
}

*:focus-visible {
  outline: 2px solid var(--primary);
}

:root {
  --primary: #C6FCFF;
  --primary_75: #C6FCFF75;
  --primary_50: #C6FCFF7f;
  --primary_25: #C6FCFF3f;
  --secondary: #fbca46;
  --secondary_50: #fbca467f;
  --secondary_25: #fbca463f;
  --dark: #1A1A1A;
  --dark_80: #1A1A1A80;
  --dark_75: #1A1A1A75;
  --dark_50: #1A1A1A7f;
  --dark_25: #1A1A1A3f;
  --dark_10: #1A1A1A1a;
  --dark_5: #1A1A1A0d;
  --light: #f5f5f5;
  --light_80: #f5f5f580;
  --light_75: #f5f5f575;
  --light_50: #f5f5f57f;
  --light_25: #f5f5f53f;
  --light_10: #f5f5f51a;
  --light_5: #f5f5f50d;
  
  --inline_padding: 1rem;
  --max_width: 1512px;
  --min_width: 25rem;
}

@media (max-width: 768px) {
  :root {
      --inline_padding: 0.5rem;
  }
}